# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/
toddlerplannerenv/

# Database
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Visual Studio
.vscode/
.history/
*.code-workspace

# migrations
schedule_manager/migrations/
